<!DOCTYPE html>
<html ng-App="Gelada" lang="en">
<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="js/uikit.min.js"></script>
    <script type="text/javascript" src="js/uikit-icons.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/gelada-ontology.js"></script>
    <script type="text/javascript" src="js/gelada-filters.js"></script>
    <script type="text/javascript" src="js/gelada.js"></script>
    <link rel="stylesheet" href="css/uikit.min.css">
    <link rel="stylesheet" href="css/uikit-rtl.min.css">
    <link rel="stylesheet" href="css/gelada.css">
    <title>Gelada - Game Search Engine</title>
</head>

<body ng-controller="MainCtrl" ng-init="initialize();">
<div class="uk-height-viewport">
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-center">
            <a class="uk-navbar-item uk-logo" href="#">Gelada</a>
        </div>
    </nav>
    <div uk-grid class="uk-grid-small uk-width-1-1">
        <div class="uk-width-1-4 uk-card uk-card-default uk-card-body">
            <div class="uk-margin">
                <label class="uk-form-label">Generation:</label>
                <select class="uk-select" ng-change="filter();" ng-model="chosenGen">
                    <option></option>
                    <option ng-repeat="gen in generations">{{gen}}</option>
                </select>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label">Some filter 2:</label>
                <select class="uk-select">
                    <option>Option 01</option>
                    <option>Option 02</option>
                </select>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label">Some filter 3:</label>
                <select class="uk-select">
                    <option>Option 01</option>
                    <option>Option 02</option>
                </select>
            </div>
        </div>
        <div class="uk-width-3-4">
            <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
                <label class="uk-form-label">Search a game:</label>
                <input class="uk-input" type="text" placeholder="Search a game..." ng-model="searchQuery"
                       ng-change="searchInGames();">
            </div>
            <div uk-grid class="uk-grid-small uk-margin">
                <div data-id="{{game.id}}" class="uk-card uk-card-hover uk-card-default uk-card-body uk-width-1-3"
                     ng-repeat="game in filteredGames" ng-click="clickGame(game.id);" uk-toggle="target: #modal">
                    <p class="uk-text-default uk-text-bold uk-text-center uk-position-top uk-margin-top">
                        {{game.name}}</p>
                    <img class="uk-align-center" data-src="{{game.imgUrl}}"
                         width="100px" height="200px" alt="" uk-img>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal" uk-modal ng-model="clickedGame">
    <div class="uk-modal-dialog uk-modal-body">
        <h3 class="uk-modal-title uk-text-center">{{clickedGame.name}}</h3>
        <p class="uk-text-small">{{clickedGame.abstract}}</p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Hide</button>
        </p>
    </div>
</div>
</body>

</html>
