<!DOCTYPE html>
<html ng-App="Gelada" lang="en">
<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="js/uikit.min.js"></script>
    <script type="text/javascript" src="js/uikit-icons.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/gelada-filters.js"></script>
    <script type="text/javascript" src="js/gelada-gateway.js"></script>
    <script type="text/javascript" src="js/gelada.js"></script>
    <link rel="stylesheet" href="css/uikit.min.css">
    <link rel="stylesheet" href="css/uikit-rtl.min.css">
    <link rel="stylesheet" href="css/gelada.css">
    <title>Gelada - Game Search Engine</title>
</head>

<body ng-controller="MainCtrl" ng-init="initialize();">
<div class="uk-height-viewport">
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-center">
            <a class="uk-navbar-item uk-logo" href="#">Gelada</a>
        </div>
    </nav>
    <div uk-grid class="uk-grid-small uk-width-1-1">
        <div class="uk-width-1-4 uk-card uk-card-default uk-card-body">
            <h3>Filters</h3>
            <div class="uk-margin">
                <label class="uk-form-label">Max number of results:</label>
                <select class="uk-select" ng-change="filter();" ng-model="chosenLimit">
                    <option ng-repeat="limit in resultLimits">{{limit}}</option>
                </select>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label">Generation:</label>
                <select class="uk-select" ng-change="filter();" ng-model="chosenGen">
                    <option ng-repeat="gen in generations">{{gen}}</option>
                </select>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label">Platform:</label>
                <select class="uk-select" ng-change="filter();" ng-model="chosenPlatform">
                    <option ng-repeat="platform in platforms" value="{{platform.uri}}">{{platform.name}}</option>
                </select>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label">Exclusive:</label>
                <select class="uk-select" ng-change="filter();" ng-model="exclusive">
                    <option ng-repeat="ex in exclusives">{{ex}}</option>
                </select>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label">Genre:</label>
                <select class="uk-select" ng-change="filter();" ng-model="chosenGenre">
                    <option ng-repeat="genre in genres" value="{{genre.uri}}">{{genre.name}}</option>
                </select>
            </div>
        </div>
        <div class="uk-width-3-4" uk-height-viewport="offset-top: true">
            <div class="uk-card uk-card-default uk-card-body uk-width-1-1">
                <h3>Search</h3>
                <input class="uk-input" type="text" placeholder="Search a game..." ng-model="searchQuery"
                       ng-change="searchInGames();">
            </div>
            <div uk-grid class="uk-grid-small uk-margin">
                <div data-id="{{game.uri}}" class="uk-card uk-card-hover uk-card-default uk-card-body uk-width-1-3"
                     ng-repeat="game in filteredGames" ng-click="clickGame(game.uri);" uk-toggle="target: #modal">
                    <p class="uk-text-default uk-text-bold uk-text-center uk-position-top uk-margin-top">
                        {{game.name}}</p>
                    <img class="uk-align-center" data-src="{{game.imgUrl}}"
                         width="100px" height="200px" alt="" uk-img>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal" uk-modal ng-model="clickedGame">
    <div class="uk-modal-dialog uk-modal-body">
        <h3 class="uk-modal-title uk-text-center">{{clickedGame.name}}</h3>
        <ul uk-accordion="multiple: true">
            <li>
                <a class="uk-accordion-title uk-text-small uk-text-bold" href="#">Basic Info</a>
                <div class="uk-accordion-content uk-margin-right uk-margin-left uk-grid-collapse" uk-grid>
                    <div class="uk-width-1-2 uk-text-left">
                        <span class="uk-text-small"><span
                                class="uk-text-bold uk-text-small">Name: </span><span>{{clickedGame.name}}<span
                                ng-if="clickedGame.alternativeName && clickedGame.alternativeName!=='unknown'"> / {{clickedGame.alternativeName}}</span></span>
                        </span>
                        <br>
                        <span class="uk-text-small"><span
                                class="uk-text-bold">Genre: </span><span>{{clickedGame.genre}}</span></span>
                        <br>
                        <span class="uk-text-small"><span
                                class="uk-text-bold">Release date: </span><span>{{clickedGame.releaseDate}}</span></span>
                        <br>
                        <span class="uk-text-small"><span
                                class="uk-text-bold">Singleplayer: </span><span>{{clickedGame.singleplayer === "true" ? "Yes" : "No"}}</span></span>
                        <br>
                        <span class="uk-text-small"><span
                                class="uk-text-bold">Multiplayer: </span><span>{{clickedGame.multiplayer === "true" ? "Yes" : "No"}}</span></span>
                        <br>
                        <span class="uk-text-small"
                              ng-if="clickedGame.videoUrl && clickedGame.videoUrl!=='unknown'"><span
                                class="uk-text-bold">Video: </span><a href="{{clickedGame.videoUrl}}">Here</a></span>
                    </div>
                    <div class="uk-width-1-2">
                        <img data-src="{{clickedGame.imgUrl}}" class="uk-align-center" uk-img height="100px"
                             width="100px">
                    </div>
                </div>
            </li>
            <li>
                <a class="uk-accordion-title uk-text-small uk-text-bold" href="#">Description</a>
                <div class="uk-accordion-content uk-margin-right uk-margin-left">
                    <p class="uk-text-small">{{clickedGame.abstract}}</p>
                </div>
            </li>
            <li>
                <a class="uk-accordion-title uk-text-small uk-text-bold" href="#">Platforms</a>
                <div class="uk-accordion-content uk-margin-right uk-margin-left" uk-grid>
                    <div class="uk-width-1-3" ng-repeat="p in clickedGame.platforms">
                        <img data-src="{{p.imgUrl}}" width="100px" height="100px" uk-img
                             uk-tooltip="title: {{p.abstract==='unknown' ? '' : p.abstract}}">
                        <p class="uk-text-small uk-text-center">{{p.name}}</p>
                    </div>
                </div>
            </li>
            <li>
                <a class="uk-accordion-title uk-text-small uk-text-bold" href="#">Prequels & sequels</a>
                <div class="uk-accordion-content uk-margin-right uk-margin-left">
                    <div ng-if="clickedGame.prequels && clickedGame.prequels.length > 0">
                        <p class="uk-text-small uk-text-bold">Prequels:</p>
                        <div uk-grid>
                            <div class="uk-width-1-3" ng-repeat="pr in clickedGame.prequels">
                                <img data-src="{{pr.imgUrl}}" width="100px" height="100px" uk-img>
                                <p class="uk-text-small uk-text-center">{{pr.name}}</p>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div ng-if="clickedGame.sequels && clickedGame.sequels.length > 0">
                        <p class="uk-text-small uk-text-bold">Sequels:</p>
                        <div uk-grid>
                            <div class="uk-width-1-3" ng-repeat="se in clickedGame.sequels">
                                <img data-src="{{se.imgUrl}}" width="100px" height="100px" uk-img>
                                <p class="uk-text-small uk-text-center">{{se.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a class="uk-accordion-title uk-text-small uk-text-bold" href="#">Organizations</a>
                <div class="uk-accordion-content uk-margin-right uk-margin-left">
                    <table class="uk-table uk-table-divider uk-text-small">
                        <tbody>
                        <tr ng-repeat="o in clickedGame.organizations">
                            <td>{{o.role}}</td>
                            <td>{{o.name}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <a class="uk-accordion-title uk-text-small uk-text-bold" href="#">Characters</a>
                <div class="uk-accordion-content uk-margin-right uk-margin-left">
                    <table class="uk-table uk-table-divider uk-text-small">
                        <tbody>
                        <tr ng-repeat="c in clickedGame.characters">
                            <td>{{c.name}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </li>
        </ul>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Hide</button>
        </p>
    </div>
</div>
</body>

</html>
